:root {
    --layout-text-color-main: #2196F3;
    --layout-text-color-second: #212121;
    --layout-text-color-third: #fff;
    --layout-text-color-fourth: #757575;
    --background-color-header-footer: #2F303A;
    --background-color-section: #E5E5E5;
    --background-color-section-second: #F5F4FA;
    --hover-color: #188CE8;

}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

.link {
    text-decoration: none;
    color: inherit;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', 'Sans Serif';
    letter-spacing: .03em;
    color: var(--layout-text-color-second);
}

.link:hover,
.link:focus,
.footer-link:hover,
.footer-link:focus {
    color: var(--layout-text-color-main);
}

.button {
    font-family: 'Roboto', 'Sans Serif';
    letter-spacing: .03em;
    background-color: var(--background-color-section-second);
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

.hero-button:hover,
.hero-button:focus {
    background-color: var(--hover-color);
}

.contacts-link {
    color: var(--layout-text-color-fourth);
}

.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 100%;
    letter-spacing: .03em;
    color: var(--layout-text-color-main);
}

.nav-link,
.header-contacts-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: .02em;
}

.header-contacts-link {
    color: var(--layout-text-color-fourth);
}

.nav-link-current {
    color: var(--layout-text-color-main);
}

.hero-header {
    font-weight: 900;
    font-size: 44px;
    line-height: 116%;
    letter-spacing: .06em;
    color: var(--layout-text-color-third);
}

.hero-button {
    background-color: var(--layout-text-color-main);
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: .06em;
    color: var(--layout-text-color-third);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer,
.hero {
    background-color: var(--background-color-header-footer);
}

.footer-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 146%;
    color: #ffffff3c;
}

.footer-link:hover {
    color: var(--layout-text-color-third);
}




.main {
    background-color: var(--layout-text-color-third);
}

.features-h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
}

.features-p {
    font-weight: 400;
    font-size: 14px;
    line-height: 146%;
    color: var(--layout-text-color-fourth);
}

.what-we-do-h2,
.our-team-h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
}

.our-team-section {
    background-color: var(--background-color-section-second);
}

.our-team-list-item,
.portfolio-imgs-list {
    background-color: var(--layout-text-color-third);
}

.our-team-h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
}

.our-team-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: var(--layout-text-color-fourth);
}

/* *********************************    Portfolio   ********************************* */
.portfolio-button {
    height: 38px;
    font-weight: 500;
    font-size: 16px;
    line-height: 139%;
}

.button-current {
    background-color: var(--layout-text-color-main);
    color: var(--layout-text-color-third);
}

.portfolio-h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 171%;
    letter-spacing: .06em;
}

.portfolio-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: var(--layout-text-color-fourth);
}