/* Positioning */
/* Box Model */
/* Typography */
/* Visual */
/* Misc */
:root {
    --layout-text-color-main: #2196F3;
    --layout-text-color-second: #212121;
    --layout-text-color-third: #fff;
    --layout-text-color-fourth: #757575;
    --background-color-header-footer: #2F303A;
    --background-color-section: #E5E5E5;
    --background-color-section-second: #F5F4FA;
    --hover-color: #188CE8;
    --icon-color: #AFB1B8;

}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    /* Positioning */
    /* Box Model */
    margin: 0;
    /* Typography */
    /* Visual */
    /* Misc */
}

html {
    /* Positioning */
    /* Box Model */
    box-sizing: border-box;
    /* Typography */
    /* Visual */
    /* Misc */
}

*,
*::after,
*::before {
    /* Positioning */
    /* Box Model */
    box-sizing: inherit;
    /* Typography */
    /* Visual */
    /* Misc */
}

img {
    /* Positioning */
    /* Box Model */
    display: block;
    max-width: 100%;
    height: auto;
    /* Typography */
    /* Visual */
    /* Misc */
}

address {
    /* Positioning */
    /* Box Model */
    /* Typography */
    /* Visual */
    /* Misc */
    font-style: normal;
}

.link {
    /* Positioning */
    /* Box Model */
    /* Typography */
    /* Visual */
    /* Misc */
    text-decoration: none;
    color: inherit;
}

.list {
    /* Positioning */
    /* Box Model */
    /* Typography */
    /* Visual */
    /* Misc */
    list-style: none;
    padding: 0;
    margin: 0;
}

body {
    /* Positioning */
    /* Box Model */
    /* width: 1600px; */
    /* Typography */
    font-family: 'Roboto', 'Sans Serif';
    letter-spacing: .03em;
    font-size: 14px;
    /* Visual */
    color: var(--layout-text-color-second);
    /* Misc */
}

.container {
    /* Positioning */
    /* Box Model */
    width: 1200px;
    padding: 0 15px;
    /* Typography */
    margin: 0 auto;
    /* Visual */
    /* Misc */

}

.section {
    /* Positioning */
    /* Box Model */
    padding: 94px 0;
    /* Typography */
    /* Visual */
    /* Misc */
}

.section-has-no-top-padding {
    /* Positioning */
    /* Box Model */
    padding-top: 0;
    /* Typography */
    /* Visual */
    /* Misc */
}

.header {
    /* Positioning */
    /* Box Model */
    border-bottom: 1px solid #ECECEC;
    /* Typography */
    /* Visual */
    /* Misc */
}

.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    /* Positioning */
    /* Box Model */
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    /* margin: 0 auto; */
    /* Typography */
    /* Visual */
    /* Misc */
}

.nav-list {
    /* Positioning */
    /* Box Model */
    display: flex;
    margin-left: 97px;
    /* justify-content: space-between; */
    align-items: center;
    /* margin: 0 auto; */
    /* Typography */
    /* Visual */
    /* Misc */
}


.contacts-list {
    /* Positioning */
    /* Box Model */
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    /* Typography */
    /* Visual */
    /* Misc */
}

.contacts-list-item:not(:last-child) {
    /* Positioning */
    /* Box Model */
    margin-right: 50px;
    /* justify-content: space-between; */
    /* Typography */
    /* Visual */
    /* Misc */
}


.link:hover,
.link:focus,
.footer-link:hover,
.footer-link:focus {
    /* Positioning */
    /* Box Model */
    /* Typography */
    color: var(--layout-text-color-main);
    /* Visual */
    /* Misc */
}

.button {
    /* Positioning */
    /* Box Model */
    border: none;
    border-radius: 4px;
    /* Typography */
    font-family: 'Roboto', 'Sans Serif';
    letter-spacing: .03em;
    /* Visual */
    background-color: var(--background-color-section-second);
    cursor: pointer;
    /* Misc */

}

.hero-button:hover,
.hero-button:focus {
    /* Positioning */
    /* Box Model */
    /* Typography */
    /* Visual */
    background-color: var(--hover-color);
    /* Misc */
}



.logo {
    /* Positioning */
    /* Box Model */
    /* Typography */
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 100%;
    letter-spacing: .03em;
    /* Visual */
    color: var(--layout-text-color-main);
    /* Misc */
}

.logo:hover {
    /* Positioning */
    /* Box Model */
    /* Typography */
    /* Visual */
    color: var(--hover-color);
    /* Misc */
}

.nav-link,
.header-contacts-link {
    /* Positioning */
    /* Box Model */
    display: flex;
    align-items: center;
    /* Typography */
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: .02em;
    /* Visual */
    /* Misc */
}

.nav-link {
    /* Positioning */
    /* Box Model */
    display: block;
    padding: 32px 0 31px 0;
    /* Typography */
    /* Visual */
    /* Misc */
}

.nav-list-item:not(:last-child) {
    /* Positioning */
    /* Box Model */
    display: block;
    margin-right: 60px;
    /* Typography */
    /* Visual */
    /* Misc */
}

.header-contacts-link {
    /* Positioning */
    /* Box Model */
    /* Typography */
    /* Visual */
    color: var(--layout-text-color-fourth);
    /* Misc */
}

.nav-link-current {
    /* Positioning */
    /* Box Model */
    /* Typography */
    /* Visual */
    color: var(--layout-text-color-main);
    /* Misc */
}

.hero-container {
    /* Positioning */
    /* Box Model */
    /* Typography */
    text-align: center;
    /* Visual */
    /* Misc */
}

.hero-header {
    /* Positioning */
    /* Box Model */
    margin-bottom: 30px;
    /* Typography */
    font-weight: 900;
    font-size: 44px;
    line-height: 116%;
    letter-spacing: .06em;
    /* Visual */
    color: var(--layout-text-color-third);
    /* Misc */
}

.hero-button {
    /* Positioning */
    /* Box Model */
    padding: 10px 20px;
    /* Typography */
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: .06em;
    /* Visual */
    background-color: var(--layout-text-color-main);
    color: var(--layout-text-color-third);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    /* Misc */
}

.footer,
.hero {
    /* Positioning */
    /* Box Model */
    /* Typography */
    /* Visual */
    background-color: var(--background-color-header-footer);
    /* Misc */
}

.hero{
    /* Positioning */
    /* Box Model */
    /* Typography */
    /* Visual */
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),url('/images/hero-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    /* Misc */
}

.footer-link {
    /* Positioning */
    /* Box Model */
    /* Typography */
    font-weight: 400;
    font-size: 14px;
    line-height: 146%;
    /* Visual */
    color: #ffffff3c;
    /* Misc */
}

.footer-link:hover {
    /* Positioning */
    /* Box Model */
    /* Typography */
    /* Visual */
    color: var(--layout-text-color-third);
    /* Misc */
}

.footer {
    /* Positioning */
    /* Box Model */
    padding: 60px 0;
    /* Typography */
    /* Visual */
    /* Misc */
}

.logo-footer {
    /* Positioning */
    /* Box Model */
    display: block;
    margin-bottom: 10px;
    /* Typography */
    /* Visual */
    /* Misc */
}

.footer-list-item:not(:last-child) {
    /* Positioning */
    /* Box Model */
    margin-bottom: 4px;
    /* Typography */
    /* Visual */
    /* Misc */
}

.hero {
    /* Positioning */
    /* Box Model */
    padding-top: 200px;
    padding-bottom: 200px;
    /* Typography */
    /* Visual */
    /* Misc */
}


.features-list {
    /* Positioning */
    /* Box Model */
    display: flex;
    /* flex-wrap: nowrap; */
    column-gap: 30px;
    /* Typography */
    /* Visual */
    /* Misc */
}
.features-list-item{
    /* Positioning */
    /* Box Model */
    width: 270px;
    /* flex-wrap: nowrap; */
    /* Typography */
    /* Visual */
    /* Misc */

}

.features-title {
    /* Positioning */
    /* Box Model */
    margin-bottom: 9.4px;
    /* Typography */
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    /* Visual */
    /* Misc */
}

.features-description {
    /* Positioning */
    /* Box Model */
    /* width: 270px; */
    /* Typography */
    font-weight: 400;
    font-size: 14px;
    line-height: 146%;
    /* Visual */
    color: var(--layout-text-color-fourth);
    /* Misc */
}

.section-title {
    /* Positioning */
    /* Box Model */
    margin-bottom: 50px;
    /* Typography */
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    text-align: center;
    /* Visual */
    /* Misc */
}

.what-we-do-list {
    /* Positioning */
    /* Box Model */
    display: flex;
    /* justify-content: center; */
    flex-wrap: wrap;
    column-gap: 30px;
    /* Typography */
    /* Visual */
    /* Misc */
}

.our-team-section {
    /* Positioning */
    /* Box Model */
    /* Typography */
    /* Visual */
    background-color: var(--background-color-section-second);
    /* Misc */
}

.our-team-list {
    /* Positioning */
    /* Box Model */
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    /* Typography */
    /* Visual */
    /* Misc */
}

.our-team-list-item {
    /* Positioning */
    /* Box Model */
    /* Typography */
    text-align: center;
    /* Visual */
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    /* Misc */
}

.our-team-img {
    /* Positioning */
    /* Box Model */
    margin-bottom: 30px;
    /* Typography */
    /* Visual */
    /* Misc */
}

.our-team-list-item {
    /* Positioning */
    /* Box Model */
    padding-bottom: 30px;
    /* Typography */
    /* Visual */
    /* Misc */
}

.our-team-list-item,
.projects-list {
    /* Positioning */
    /* Box Model */
    /* Typography */
    background-color: var(--layout-text-color-third);
    /* Visual */
    /* Misc */
}

.our-team-title {
    /* Positioning */
    /* Box Model */
    margin-bottom: 10px;
    /* Typography */
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    /* Visual */
    /* Misc */
}

.our-team-role {
    /* Positioning */
    /* Box Model */
    margin-bottom: 16px;
    /* Typography */
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    /* Visual */
    color: var(--layout-text-color-fourth);
    /* Misc */
}

/* *********************************    Portfolio   ********************************* */
.filters-list {
    /* Positioning */
    /* Box Model */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 8px;
    margin-bottom: 50px;
    /* Typography */
    /* Visual */
    /* Misc */
}

.filter-button {
    /* Positioning */
    /* Box Model */
    padding: 6px 26px;
    /* Typography */
    font-weight: 500;
    font-size: 16px;
    line-height: 139%;
    /* Visual */
    /* Misc */
}

.filter-button:hover,
.filter-button:focus {
    /* Positioning */
    /* Box Model */
    /* Typography */
    /* Visual */
    background-color: var(--layout-text-color-main);
    color: var(--layout-text-color-third);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    /* Misc */
}

.filter-current {
    /* Positioning */
    /* Box Model */
    /* Typography */
    /* Visual */
    background-color: var(--layout-text-color-main);
    color: var(--layout-text-color-third);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    /* Misc */
}


.projects-list {
    /* Positioning */
    /* Box Model */
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    /* Typography */
    /* Visual */
    /* Misc */
}


.projects-wrapper{
    /* Positioning */
    /* Box Model */
    border: 1px solid #EEEEEE;
    border-top: none;
    padding: 20px 24px;
    /* Typography */
    /* Visual */
    /* Misc */
}

.projects-title {
    /* Positioning */
    /* Box Model */
    margin-bottom: 4px;
    /* Typography */
    font-weight: 700;
    font-size: 18px;
    line-height: 171%;
    letter-spacing: .06em;
    /* Visual */
    /* Misc */
}

.projects-description {
    /* Positioning */
    /* Box Model */
    /* Typography */
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    /* Visual */
    color: var(--layout-text-color-fourth);
    /* Misc */
}
/* *********************************    Portfolio   ********************************* */
.icon {
    fill: currentColor;
  }
  
  /* ==========================================
  Single-colored icons can be modified like so:
  .name {
    font-size: 32px;
    color: red;
  }
  ========================================== */  
  .icon-mobile, 
  .icon-envelope {
    margin-right: 10px;
  }

  .icon-antenna,
  .icon-clock,
  .icon-computer,
  .icon-astronaut {
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
  }

  .social-accounts-icons-list,
  .webiste-social-accounts-icons-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    justify-content: center;
  }

  .social-accounts-icons-list-item, 
  .webiste-social-accounts-icons-list-item{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    text-align: center;
  }

  .webiste-social-accounts-icons-list-item {
    background-color: rgba(255, 255, 255, 0.1);
  }


  .social-account-link {
    color: var(--icon-color);
  }
  .webiste-social-account-link{
    color: var(--layout-text-color-third);
  }
  .webiste-social-accounts-icons-list-item:hover {
    background-color: var(--layout-text-color-main);
  }
  .social-accounts-icons-list-item:hover {
    background-color: var(--layout-text-color-main);
  }
  .social-account-link:hover,
  .webiste-social-account-link:hover {
    color: var(--layout-text-color-third);
  }
  .icon-social-account,
  .icon-webiste-social-account {
    width: 44px;
    height: 44px;
  }


  .social-accounts-title {
    /* Positioning */
    /* Box Model */
    margin-bottom: 20px;
    /* Typography */
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    /* Visual */
    color: var(--layout-text-color-third);
    text-transform: uppercase;
    /* Misc */
  }

  .footer-container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 156px;
  }

  .social-accounts-wrapper{
    padding-top: 15px;
  }
.customers-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    justify-content: center;
}
.icon-customer {
    width: 170px;
    height: 92px;
}

.customers-list-item {
    border: 1px solid var(--icon-color);
    border-radius: 4px;
    color: var(--icon-color);
}
.customers-list-item:hover {
    color: var(--layout-text-color-main);
    border-color: var(--layout-text-color-main);
}

.customers-section {
    text-align: center;
}

.customers-title {
    margin-bottom: 50px;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0.03em;

}