:root {
    --layout-text-color-main: #2196F3;
    --layout-text-color-second:#212121;
    --layout-text-color-third:#fff;
    --layout-text-color-fourth: #757575;
    --background-color-header-footer: #2F303A;
    --background-color-section: #E5E5E5;
    --background-color-section-second: #F5F4FA;

}
h1,h2,h3,h4,h5,h6,p { margin: 0;}
html { box-sizing: border-box;}
*,*::after,*::before { box-sizing: inherit;}
img { display: block; max-width: 100%; height: auto;}
address { font-style: normal;}
.link { text-decoration: none; color: inherit;}
.list { list-style: none; padding: 0; margin: 0;}

body {
    font-family: 'Roboto', 'Sans Serif';
    letter-spacing: .03em;
    color: var(--layout-text-color-second);
}

.link:hover, .link:focus, .address .location-link:hover {
    color: var(--layout-text-color-main);
}

.button:hover, .button:focus{
    background-color: var(--layout-text-color-main);
    color: var(--layout-text-color-third);
    border-color: var(--layout-text-color-main);
    cursor: pointer;
}

.contacts-link {
    color: var(--layout-text-color-fourth);
}

.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 100%;
    letter-spacing: .03em;
    color: var(--layout-text-color-main);
}
.nav-list .list-item .link, .header .contacts-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: .02em;
}
 .nav .link-current {
    color: var(--layout-text-color-main);
 }

.hero-header {
    font-weight: 900;
    font-size: 44px;
    line-height: 116%;
    letter-spacing: .06em;
    color: var(--layout-text-color-third);
}

.hero-button {
    background-color: var(--layout-text-color-main);
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: .06em;
    color: var(--layout-text-color-third);
}

.footer, .hero {
    background-color: var(--background-color-header-footer);
}

.footer-list .list-item .link {
    font-weight: 400;
    font-size: 14px;
    line-height: 146%;
    color: var(--layout-text-color-third);
}


.footer-list .list-item .link {
    color: #ffffff3c;
}

.main {
    background-color: var(--background-color-section);
}

.hero .features-section .h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
}
.hero .features-section .p {
    font-weight: 400;
    font-size: 14px;
    line-height: 146%;
    color: var(--layout-text-color-fourth);
}
.hero .what-we-do-section .h2, .hero .our-team-section .h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
}

.our-team-section {
    background-color: var(--background-color-section-second);
}

.our-team-list .list-item, .portfolio-imgs-list {
    background-color: var(--layout-text-color-third);
}

.our-team-list .list-item .h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
}

.our-team-list .list-item .p {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: var(--layout-text-color-fourth);
}

/* *********************************    Portfolio   ********************************* */
.portfolio-list .button {
    height: 38px;
    font-weight: 500;
    font-size: 16px;
    line-height: 136%;
}

.portfolio-imgs-list .h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 171%;
    letter-spacing: .06em;
}

.portfolio-imgs-list .p {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: var(--layout-text-color-fourth);
}