@import './mixins';
@import '../base/typography';
%img {
    /* Positioning */
    /* Box Model */
    display: block;
    max-width: 100%;
    height: auto;
    /* Typography */
    /* Visual */
    /* Misc */
}


%link {
    /* Positioning */
    /* Box Model */
    /* Typography */
    /* Visual */
    text-decoration: none;
    color: inherit;
    /* Misc */
    @include transition(color);
    &:hover,
    &:focus {
    /* Positioning */
    /* Box Model */
    /* Typography */
    color: getColor('layoutThemeMain');
    /* Visual */
    /* Misc */
}

}

%list {
    /* Positioning */
    /* Box Model */
    /* Typography */
    /* Visual */
    /* Misc */
    list-style: none;
    padding: 0;
    margin: 0;
}


%button {
    /* Positioning */
    /* Box Model */
    border: none;
    border-radius: 4px;
    /* Typography */
    font-family: $main-font;
    letter-spacing: .03em;
    /* Visual */
    background-color: getColor('layoutTextMain');
    cursor: pointer;
    /* Misc */

}