$layoutThemeMain: #2196F3;
$layoutTextMain: #212121;
$layoutTextSecond: #fff;
$layoutTextThird: #757575;
$backgroundHeader: #2F303A;
$backgroundSection: #E5E5E5;
$backgroundSectionSecond: #F5F4FA;
$hoverColor: #188CE8;
$iconColor: #AFB1B8;