.footer {
    /* Positioning */
    /* Box Model */
    padding: 60px 0;
    /* Typography */
    /* Visual */
    background-color: getColor('backgroundHeader');
    /* Misc */

    &__title {
        /* Positioning */
        /* Box Model */
        margin-bottom: 20px;
        /* Typography */
        font-weight: 700;
        font-size: 14px;
        line-height: 100%;
        /* Visual */
        color: getColor('layoutTextSecond');
        text-transform: uppercase;
        /* Misc */
    }
    
    &__container {
        /* Positioning */
        /* Box Model */
        @include display(flex, wrap, space-between, 0);
        /* column-gap: 93px; */
        /* Typography */
        /* Visual */
        /* Misc */
    
    }
    
    &__wrapper {
        /* Positioning */
        /* Box Model */
        padding-top: 15px;
        /* Typography */
        /* Visual */
        /* Misc */
    }

    &__address {
        @extend %list;
    }

    &__logo {
        @extend .logo;
        /* Positioning */
        /* Box Model */
        display: block;
        margin-bottom: 10px;
        /* Typography */
        /* Visual */
        /* Misc */
    }
}


.footer__address-link {
    @extend %link;
    /* Positioning */
    /* Box Model */
    /* Typography */
    font-weight: 400;
    font-size: 14px;
    line-height: 146%;
    /* Visual */
    color: getColor('footerLinkColor');
    /* Misc */
    @include transition(color);
    &:hover,
    &:focus {
    /* Positioning */
    /* Box Model */
    /* Typography */
    color: getColor('layoutTextSecond')
    /* Visual */
    /* Misc */
}
}


.footer__address-item:not(:last-child) {
    /* Positioning */
    /* Box Model */
    margin-bottom: 4px;
    /* Typography */
    /* Visual */
    /* Misc */
}

.footer__social-accounts {
    @extend %list;
    /* Positioning */
    /* Box Model */
    @include display(flex, wrap, center, 10px);
    /* Typography */
    /* Visual */
    /* Misc */
}

.footer__social-account-link {
    @extend %link;
    /* Positioning */
    /* Box Model */
    @include display(flex, wrap, center, 0);
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    /* Typography */
    /* Visual */
    color: getColor('layoutTextSecond');
    background-color: rgba(255, 255, 255, 0.1);
    /* Misc */
    @include twoTransitions(color, background-color);
    &:hover,
    &:focus {
    /* Positioning */
    /* Box Model */
    /* Typography */
    /* Visual */
    color: getColor('layoutTextSecond');
    background-color: getColor('layoutThemeMain');
    /* Misc */

}
}


