/*------------------------------------------FOOTERFORM-------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/

.footer-form__submit,
.modal-form__submit {
    @extend %button;
    /* Positioning */
    /* Box Model */
    padding: 10px 20px;
    /* Typography */
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: .06em;
    /* Visual */
    background-color: getColor('layoutThemeMain');
    color: getColor('layoutTextSecond');
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    /* Misc */
    @include threeTransitions(background-color, box-shadow, color);
}

.footer-form__submit {
    /* Positioning */
    position: relative;
    /* Box Model */
    @include display(inline-flex, wrap, center, 0);
    align-items: center;
    margin-left: 12px;
    height: 50px;
    width: 200px;
    /* Typography */
    /* Visual */
    border-radius: 4px;
    /* Misc */
    &:hover,
    &:focus{
    /* Positioning */
    /* Box Model */
    /* Typography */
    /* Visual */
    background-color: getColor('hoverColor');
    /* Misc */
}
}

.footer-form__email {
    /* Positioning */
    /* Box Model */
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 350px;
    padding: 15px 16px;
    /* Typography */
    /* Visual */
    background-color: getColor('backgroundHeader');
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    caret-color: getColor('layoutTextSecond');
    color: getColor('layoutTextSecond');
    /* Misc */
    @include transition(border-color);

    &:hover,
    &:focus {
    /* Positioning */
    /* Box Model */
    /* Typography */
    /* Visual */
    border-color: getColor('layoutTextSecond');
    outline: none;
    /* Misc */
}
}


/*------------------------------------------MODAL-------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/
.modal-form {
    &__icon:hover,
    &__icon:hover~&-input {
        /* Positioning */
        /* Box Model */
        /* Typography */
        /* Visual */
        outline: none;
        border-color: getColor('layoutThemeMain');
        fill: getColor('layoutThemeMain');
        /* Misc */
    }
    &__submit {
        /* Positioning */
        /* Box Model */
        padding: 10px 20px;
        /* Typography */
        font-weight: 700;
        font-size: 16px;
        line-height: 160%;
        letter-spacing: .06em;
        /* Visual */
        background-color: getColor('layoutThemeMain');
        color: getColor('layoutTextSecond');
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        /* Misc */
        @include threeTransitions(border-color, box-shadow, color);
    
    
        &:hover,
        &:focus {
        /* Positioning */
        /* Box Model */
        /* Typography */
        /* Visual */
        background-color: getColor('hoverColor');
        /* Misc */
    }
    }

    &__label {
        /* Positioning */
        position: relative;
        /* Box Model */
        display: block;
        margin-bottom: 30px;
        /* Typography */
        font-family: $main-font;
        font-size: 12px;
        letter-spacing: 1%;
        /* Visual */
        color: getColor('layoutTextThird');
        /* Misc */
    }

    &__input {
        /* Positioning */
        /* Box Model */
        display: block;
        margin-bottom: 10px;
        width: 100%;
        height: 40px;
        padding-left: 40px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        /* Typography */
        /* Visual */
        border-radius: 4px;
        /* Misc */
        @include transition(border-color);
    
        &-description {
            /* Positioning */
            position: absolute;
            top: -16px;
            /* Box Model */
            /* Typography */
            /* Visual */
            /* Misc */
        }
    
        &-wrapper {
            /* Positioning */
            /* Box Model */
            /* Typography */
            /* Visual */
            color: getColor('layoutTextMain');
            /* Misc */
            @include transition(color);

            &:hover {
                /* Positioning */
                /* Box Model */
                /* Typography */
                /* Visual */
                color: getColor('layoutThemeMain');
                /* Misc */
            
            }
        
        }
    
    }
    
    &__input:hover,
    &__input:focus,
    &__input:hover &__icon,
    &__icon:hover,
    &__icon:hover~&__input {
        /* Positioning */
        /* Box Model */
        /* Typography */
        /* Visual */
        outline: none;
        border-color: getColor('layoutThemeMain');
        fill: getColor('layoutThemeMain');
        /* Misc */
    }

    &__submit {
        /* Positioning */
        /* Box Model */
        display: block;
        margin: auto;
        padding: 10px 80px;
        /* Typography */
        /* Visual */
        /* Misc */
        @include transition(background-color);
    
    }
    
    &__icon {
        /* Positioning */
        position: absolute;
        top: 50%;
        left: 15px;
        /* Box Model */
        transform: translateY(-50%);
        /* Typography */
        /* Visual */
        fill: currentColor;
        /* Misc */
        @include transition(fill);
        }
    
}

.modal {
    /* Positioning */
    position: fixed;
    top: 0;
    left: 0;
    /* Box Model */
    @include display(flex, wrap, center, 0);
    align-items: center;
    width: 100%;
    height: 100%;
    /* Typography */
    /* Visual */
    background-color: rgba(0, 0, 0, 0.2);
    /* Misc */
    @include twoTransitions(visibility, opacity);

    &__content {
        /* Positioning */
        position: relative;
        /* Box Model */
        @include display(flex, wrap, center, 0);
        flex-direction: column;
        padding: 40px;
        /* Typography */
        /* Visual */
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        background-color: getColor('layoutTextThird');
        /* Misc */
    }
    &--is-hidden {
        /* Positioning */
        /* Box Model */
        /* Typography */
        /* Visual */
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        /* Misc */
    }
    
    &__close {
        /* Positioning */
        position: absolute;
        top: 4px;
        right: 4px;
        /* Box Model */
        @include display(flex, wrap, center, 0);
        align-items: center;
        width: 30px;
        height: 30px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        /* Typography */
        /* Visual */
        border-radius: 50%;
        background-color: getColor('layoutTextThird');
        /* Misc */
        @include transition(color);    
    }
    
    &__close:hover,
    &__close:focus {
        /* Positioning */
        /* Box Model */
        /* Typography */
        /* Visual */
        color: getColor('layoutThemeMain');
        /* Misc */
    }
    
    &__title {
        /* Positioning */
        /* Box Model */
        margin-bottom: 30px;
        /* Typography */
        font-size: 20px;
        /* Visual */
        /* Misc */
    }
    
}










.comments {
    /* Positioning */
    /* Box Model */
    height: 120px;
    padding: 12px 16px;
    /* Typography */
    /* Visual */
    resize: none;
    /* Misc */
}


.terms,
.terms-description {
    /* Positioning */
    /* Box Model */
    /* Typography */
    font-family: $main-font;
    font-size: 14px;
    letter-spacing: 1%;
    /* Visual */
    color: getColor('layoutTextThird');
    /* Misc */
}

.agree-check {
    display: flex;
    justify-content: center;
    align-items: start;
    margin-bottom: 34px;
}

.agree-check .checkmark {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.agree-check .icon {
    width: 16px;
    height: 16px;
    margin-right: 7px;
    fill: none;
    border: 2px solid #212121;
    border-radius: 2px;
    @include threeTransitions(border-color, background-color, fill);
}

.agree-check .checkmark:focus+.icon,
.agree-check .checkmark:checked:focus+.icon {
    outline: 2px solid #212121;
}

.agree-check .checkmark:checked+.icon {
    background-color: #2196f3;
    border-color: #2196f3;
    fill: #ffffff;
    outline: none;
}