.icon {
    /* Positioning */
    /* Box Model */
    /* Typography */
    /* Visual */
    fill: currentColor;
    /* Misc */
}

.icon-mobile,
.icon-envelope {
    /* Positioning */
    /* Box Model */
    margin-right: 10px;
    /* Typography */
    /* Visual */
    /* Misc */

}

.icon-send {
    /* Positioning */
    /* Box Model */
    margin-left: 20px;
    /* Typography */
    /* Visual */
    /* Misc */
}
