h1,
h2,
h3,
h4,
h5,
h6,
p {
    /* Positioning */
    /* Box Model */
    margin: 0;
    /* Typography */
    /* Visual */
    /* Misc */
}

html {
    /* Positioning */
    /* Box Model */
    box-sizing: border-box;
    /* Typography */
    /* Visual */
    /* Misc */
}

*,
*::after,
*::before {
    /* Positioning */
    /* Box Model */
    box-sizing: inherit;
    /* Typography */
    /* Visual */
    /* Misc */
}

img {
    /* Positioning */
    /* Box Model */
    display: block;
    max-width: 100%;
    height: auto;
    /* Typography */
    /* Visual */
    /* Misc */
}

address {
    /* Positioning */
    /* Box Model */
    /* Typography */
    /* Visual */
    /* Misc */
    font-style: normal;
}

.link {
    /* Positioning */
    /* Box Model */
    /* Typography */
    /* Visual */
    text-decoration: none;
    color: inherit;
    /* Misc */
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list {
    /* Positioning */
    /* Box Model */
    /* Typography */
    /* Visual */
    /* Misc */
    list-style: none;
    padding: 0;
    margin: 0;
}
.link:hover,
.link:focus {
    /* Positioning */
    /* Box Model */
    /* Typography */
    color: var(--layout-text-color-main);
    /* Visual */
    /* Misc */
}

.button {
    /* Positioning */
    /* Box Model */
    border: none;
    border-radius: 4px;
    /* Typography */
    font-family: 'Roboto', 'Sans Serif';
    letter-spacing: .03em;
    /* Visual */
    background-color: var(--background-color-section-second);
    cursor: pointer;
    /* Misc */

}