h1,
h2,
h3,
h4,
h5,
h6,
p {
    /* Positioning */
    /* Box Model */
    margin: 0;
    /* Typography */
    /* Visual */
    /* Misc */
}

html {
    /* Positioning */
    /* Box Model */
    box-sizing: border-box;
    /* Typography */
    /* Visual */
    /* Misc */
}

*,
*::after,
*::before {
    /* Positioning */
    /* Box Model */
    box-sizing: inherit;
    /* Typography */
    /* Visual */
    /* Misc */
}

address {
    /* Positioning */
    /* Box Model */
    /* Typography */
    /* Visual */
    /* Misc */
    font-style: normal;
}