/*------------------------------------------FILTERS-------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------*/
.filters {
    @extend %list;
    /* Positioning */
    /* Box Model */
    @include display(flex, wrap, center, 8px);
    margin-bottom: 50px;
    /* Typography */
    /* Visual */
    /* Misc */

    &--current {
        /* Positioning */
        /* Box Model */
        /* Typography */
        /* Visual */
        background-color: getColor('layoutThemeMain');
        color: getColor('layoutTextSecond');
        ;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
        /* Misc */
    }
}

.filters__button {
    @extend %button;
    /* Positioning */
    /* Box Model */
    padding: 6px 26px;
    /* Typography */
    font-weight: 500;
    font-size: 16px;
    line-height: 139%;
    /* Visual */
    /* Misc */
    @include threeTransitions(color, background-color, box-shadow);

    &:hover,
    &:focus {
        /* Positioning */
        /* Box Model */
        /* Typography */
        /* Visual */
        background-color: getColor('layoutThemeMain');
        color: getColor('layoutTextSecond');
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
        /* Misc */
    }
}



/*------------------------------------------PROJECTS-------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------*/
.projects {
    @extend %list;
    /* Positioning */
    /* Box Model */
    @include display(flex, wrap, none, 30px);
    /* Typography */
    background-color: getColor('layoutTextSecond');
    /* Visual */
    /* Misc */

    &__overlay-container {
        /* Positioning */
        position: relative;
        /* Box Model */
        overflow: hidden;
        /* Typography */
        /* Visual */
        /* Misc */
    }

    &__overlay-text {
        /* Positioning */
        position: absolute;
        top: 0;
        left: 0;
        /* Box Model */
        width: 100%;
        height: 100%;
        padding: 63px 24px;
        /* Typography */
        font-family: $main-font;
        font-size: 18px;
        line-height: 133%;
        letter-spacing: 3%;
        /* Visual */
        background-color: rgba(33, 150, 243, 0.9);
        color: getColor('layoutTextSecond');
        /* Misc */
        transform: translatey(100%);
        @include transition(transform);
    }

    &__wrapper {
        /* Positioning */
        /* Box Model */
        border: 1px solid #EEEEEE;
        border-top: none;
        padding: 20px 24px;
        /* Typography */
        /* Visual */
        /* Misc */
    }

    &__title {
        /* Positioning */
        /* Box Model */
        margin-bottom: 4px;
        /* Typography */
        font-weight: 700;
        font-size: 18px;
        line-height: 171%;
        letter-spacing: .06em;
        /* Visual */
        color: getColor('layoutTextMain');
        /* Misc */
    }

    &__description {
        /* Positioning */
        /* Box Model */
        /* Typography */
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        /* Visual */
        color: getColor('layoutTextThird');
        /* Misc */
    }
}

.projects__link {
    @extend %link;
    /* Positioning */
    /* Box Model */
    display: inline-block;
    /* Typography */
    /* Visual */
    /* Misc */
    @include transition(box-shadow);

    &:hover,
    &:focus {
        /* Positioning */
        /* Box Model */
        /* Typography */
        /* Visual */
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        /* Misc */
    }

    & .projects__overlay-text {
        /* Positioning */
        /* Box Model */
        /* Typography */
        /* Visual */
        /* Misc */
        @include transition(transform);
    }

    &:hover .projects__overlay-text,
    &:focus .projects__overlay-text {
        /* Positioning */
        /* Box Model */
        /* Typography */
        /* Visual */
        /* Misc */
        transform: translateY(0);
    }
}

.projects__img {
    @extend %img;
}